* {
  margin: 0;
  padding: 0;
}

body {
  margin-left: 2em;
  font: 13px Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #ccc;
}

h1 {
  font-size: 10em;
  color: #000;
  cursor: help;
  /* background: url(../images/what.jpg) no-repeat 0 0; */
  /* padding: 10px 0 12px; */
  text-transform: uppercase;
  margin: 0 0 0.25em 0;
  float: left;
}

h1 a {
  text-decoration: none;
  color: #000;
}

h2 {
  border-bottom: 3.1px dotted #ccc;
  font-size: 2.5em;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  
}

.nextDoor h2 {
  margin-right: 0;
}

.clearBoth {
  clear: both;
}

.container {
  background-color: #fff;
  margin: 2em;
  padding: 2em 3.5em 1em;
  border: 1px solid #999;
}

.content {
  padding-top: 0px;
}

.workage {
  float: left;
  width: 50%;
}

.workage em,
.workage strong {
  display: block;
}

.workage strong {
  margin-bottom: 1.5em;
  color: #aaa;
}

form {
  padding: 10px 0 0 0;
}

textarea,input {
  margin-bottom: 10px;
  font: 13px Helvetica, Arial, sans-serif;
  
}

textarea {
  height: 60px;
}

#submission_submission,
#submission_name {
  display: block;
  width: 300px;
}

.workage em {
  font-style: normal;
  font-size: 1.5em;
  color: #666;
  font-weight: normal;
}


.button {
  display: inline;
}

.deleter {
  float: right;
}

.contentPaddingRight {
  padding-left: 1.75em;
}

.contentPaddingLeft {
  padding-right: 1.75em;
}

.credits {
    text-align: right;
    font-size: 0.7em;
}

.new_submission {
    float: right;
}

.submissionMsg {
  /*background-color: #eee;*/ 
  border: 1px solid #ccc;  
  padding: 0.5em;
  margin-bottom: 1em;
  /* width: 100%; */
}

.deleter {
  float: right;
  background: url(../images/delete.gif) no-repeat;
  border: none;
  height: 20px;
  width: 16px;
  border: 1px solid white;
  text-indent: -1000px;
}

.deleter:hover {
  border: 1px solid #ccc;
}
}